.app {
  display: flex;
  min-height: 100vh;
  width: 100%;
  color: white;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

/* Main content container beside sidebar */
.main-content {
  margin-left: 220px; /* same as sidebar width */
  width: calc(100% - 220px);
}
